
/**Css de Amy Footer**/
footer {
    background-color: #83BCA9;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
    min-height: 190px;
    padding:  20px 0;
    
}
footer a{
    color: #282B28;
    text-decoration: none;
}

footer ul {
    list-style: none;
    font-size: 18px;
    text-align:center;
    
    
}

footer ul li{
    margin-left: 30px;
}
footer .copyright {
    margin-top:10px;
    text-align:center;
    font-size:13px;
    color:#fff;
    margin-bottom:0;
}

footer a:hover{
    color: white;
}
footer .fab{
    color: #282B28;
}

#btn-back-to-top {
    position:fixed;
    bottom: 180px;
    float:center;
    
  }