.tel {
    display: none;
}

p, span {
    color: #282B28;
}

h1 {
    color: #3E5641;
}



@media only screen and (max-device-width:600px) {

.pc {
    display: none;
}

.tel {
    display: block;
}

}




footer {
    background-color: #83BCA9;
}