
.tel {
    display: none;
}

p, span, label, form .form_text {
    color: #282B28;
}

h1, h2 {
    color: #3E5641;
}

button.btn-primary {
    background-color: #83BCA9;
}


/* FORMULAIRE */

#formWrapper {
    padding: 40px 0;
}

#formWrapper h2 {
    margin-bottom: 30px;
}

#formWrapper form label {
    font-weight: bold;
}

#formWrapper button[type=submit] {
    margin-top: 10px;
    border: #83BCA9;
    padding: 12px 10px;
    font-weight: bold;
}

#formWrapper button[type=submit]:hover {
    background-color: #282B28;
    border: 2px solid #282B28;
    padding: 10px 8px; 
    font-weight: bold;
}


@media only screen and (max-device-width:600px) {

    .pc {
        display: none;
    }

    .tel {
        display: block;
    }

}



footer {
    background-color: #83BCA9;
}